:root {
  --card-section-info-bg-color: #f9fadf;
  --main-text-color: #73a6b1;
  --main-button-bg-color: #7ae5fd;
  --card-bg-color: #f1fdff;
  --contact-card-bg-color: #ffffff;


  --main-padding: 2rem;
  --button-width: 264px;
  --button-height: 59px;
  --border-radius-large: 87px;
  --border-radius-small: 10px;
  --font-size-h1: 63.07px;
  --font-size-h2: 60px;
  --font-size-paragraph: 27px;
  --font-size-small-text: 20px;
}

.main-header {
  display: flex;
  padding: var(--main-padding) 3rem var(--main-padding) 3rem;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

.header-nav-button {
  background-color: var(--main-button-bg-color);
}
.card-paragraph{
  max-width: 500px;
}
.header-icon-wrapper {
  width: 4rem;
  height: 4rem;
  min-height: 60px;
  min-width: 60px;
}
.header-star-icon {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.header-nav-list {
  display: inline-flex;
  box-sizing: border-box;
  gap: 2rem;
}
.header-nav-list-wrapper {
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  gap: 1.5rem;
}
.main-block {
  height: 100vh;
}

.main-bg-image {
  width: 100%;
  height: auto;
}
.main-bg-image-wrapper {
  width: 100%;
  position: relative;
}

.button-wrapper {
  width: var(--button-width);
  height: var(--button-height);
  padding: 21px 35px 21px 35px;
  gap: 10px;
  border-radius: var(--border-radius-large);
  opacity: 0px;
  border: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 17.44px;
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat;
}
.bg-image-article-absolute {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(0%, -50%);
  width: 40%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.title-h1 {
  font-size: var(--font-size-h1);
  font-weight: 800;
  line-height: 70px;
  text-align: left;
  color: white;
  /* text-wrap: wrap; */
}
.paragraph-text {
  font-size: var(--font-size-paragraph);
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.sub-title-section {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 10rem;
}
.title-h2 {
  font-size: var(--font-size-h2);
  font-weight: 400;
  line-height: 72px;
  text-transform: uppercase;
}
.text-align-center {
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.sub-title-article-wrapper {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 160px 71px 160px 71px;
  gap: 1rem;
  opacity: 0px;
}
.paragraph-sub-text {
  font-size: var(--font-size-small-text);
  font-weight: 400;
  line-height: 24px;
}
.marin-text-color {
  color: var(--main-text-color);
}
.card-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 71px 71px 160px 71px;
  gap: 50px;
}
.card {
  display: flex;
  justify-content: space-between;
  background-color: var(--card-bg-color);
  padding: 40px 62px 40px 62px;
  gap: 2rem;
  border-radius: var(--border-radius-small);
  width: 1200px;

}
.card-title {
  font-size: 46px;
  font-weight: 400;
  line-height: 55.2px;
  text-align: left;
}
.text-capitalize {
  text-transform: uppercase;
}
.card-image-wrapper {
  display: flex;
  border-radius: var(--border-radius-small);
  overflow: hidden;
  width: 100%;
  max-width: 585px;
  max-height: 456.58px;
}
.card-article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.card-image {
  object-fit: cover;
}
.card-image-bg-absolute {
  position: absolute;
  left: 35px;
  top: -215px;
  width: 454px;
  height: 567px;
}
.card-image-bg-children {
  position: absolute;
  width: 791px;
  height: 767px;
  left: -129px;
  top: -271px;
}
.card-image-wrapper-relative {
  position: relative;
  height: 312px;
  width: 100%;
}
.info-card-wrapper {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.info-gap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.goal-wrapper {
  padding-top: 1rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: var(--main-padding);
}
.goal-number {
  display: flex;
}
.number-text {
  font-size: var(--font-size-h2);
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -0.02em;
  text-align: center;
}

.number-text-wrapper {
  position: relative;
}
.number-text-right {
  padding-right: 1rem;
}
.number-text-right-center {
  padding-right: 1rem;
  padding-left: 1rem;
}
.number-text-left {
  padding-left: 1rem;
}
.number-text-right::after {
  content: "";
  position: absolute;
  right: 0;
  height: 65px;
  width: 1px;
  background-color: #73a6b1;
}
.number-text-left:last-of-type::before {
  content: "";
  position: absolute;
  left: 0;
  height: 65px;
  width: 2px;
  background-color: #73a6b1;
}
.text-contact-black {
  color: black;
  font-size: var(--font-size-h2);
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -0.02em;
  text-align: center;
}
.contact-heading-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact-information-block {
  display: flex;
  width: 100%;
}
.contact-information-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 3rem;
  padding-left: var(--main-padding);
}
.question-contact-paragraph {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
.phone {
  padding-top: 0.5rem;
  font-weight: 700;
}
.contact-block {
  display: flex;
}
.contact-icon {
  width: 33px;
  height: 33px;
}
.contact-icon-container {
  display: inline-flex;
  gap: 0.5rem;
}
.card-section-info-bg {
  background-color: var(--card-section-info-bg-color);
}
.contact-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.contact-info-image-card {
  display: flex;
  background-color: var(--contact-card-bg-color);
  padding: var(--font-size-h2);
  border-radius: var(--border-radius-small);

}
.contact-form-block {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 580px;
}
.contact-form > input {
  width: 100%;
  border: 0;
  padding: 21px 35px 21px 35px;
  gap: 10px;
  border-radius: 61px;  
  max-width: 470px;
  box-sizing: border-box;
  background-color: var(--card-section-info-bg-color);
}
.form-paragraph {
  font-size: var(--font-size-paragraph);
  font-weight: 400;
  line-height: 32.4px;
  text-align: left;
  width: 470px;
}
.submit-button{
  width: 100%;
}